<div class="main_chat_header">
  <div class="room_summary">
    <%= @room.name %>
  </div>
  <div class="chat_exit">
    <%= link_to "チャットを終了する", room_path(@room), data: { turbo_method: :delete } %>
  </div>
</div>

<div class="chat_main">
  <%=render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "main_chat_footer"}, local: true do |f|%>
  <div class="footer_messages">
    <%= f.text_field :content, class: 'footer_message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'footer_submit' %>
<% end %>